.modal {
    display: block;
    .modal-xl {
        max-width: 1500px;
        .modal-body {
            overflow: auto;
            max-height: 70vh;
            @media (max-width: 850px) {
                height: 650px;
            }
        }
    }
    .modal-lg {
        .modal-body {
            overflow: auto;
            max-height: 70vh;
            @media (max-width: 850px) {
                height: 650px;
            }
        }
    }
}

.embed-responsive {
    width: 460px;
    height: 0;
    &.expandido {
        height: auto !important;
    }
    @media (max-width: 780px) {
        width: 100%;
    }
}