<div class="row">


    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Últimos Reportes Recibidos</h4>
                <h6 class="card-subtitle">Listado de Reportes Recibidos</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Carrera</th>
                                <th>Denunciante</th>
                                <th>Detalle</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>27-08-2022</td>
                                <td>8:30 pm</td>
                                <td>Vuelta a España</td>
                                <td> Andres Rendondo Contreras</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-info"><i class="fa fa-eye"></i> Detalle</button>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-success">Apelado - Aclarado</span>
                                </td>
                                <td>

                                    <button disabled type="button" class="btn btn-info"><i class="fa fa-align-justify"></i> Apelar - Aclarar</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>27-08-2022</td>
                                <td>8:30 pm</td>
                                <td>Vuelta a España</td>
                                <td> Andres Rendondo Contreras</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-info"><i class="fa fa-eye"></i> Detalle</button>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-danger">Activo</span>
                                </td>
                                <td>

                                    <button type="button" class="btn btn-info"><i class="fa fa-align-justify"></i> Apelar - Aclarar</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Últimos Reportes Enviados</h4>
                <h6 class="card-subtitle">Listado de Reportes Enviados</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Carrera</th>
                                <th>Denunciante</th>
                                <th>Detalle</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>27-08-2022</td>
                                <td>8:30 pm</td>
                                <td>Vuelta a España</td>
                                <td> Andres Rendondo Contreras</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-info"><i class="fa fa-eye"></i> Detalle</button>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-success">Apelado - Aclarado</span>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>27-08-2022</td>
                                <td>8:30 pm</td>
                                <td>Vuelta a España</td>
                                <td> Andres Rendondo Contreras</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-info"><i class="fa fa-eye"></i> Detalle</button>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge badge-danger">Activo</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>