<div class="card">
    <div class="d-flex">
        <div class="contentimagen">
            <img [src]="imageUrl" alt="Card image" />
        </div>
        <div class="">
            <div class="row m-0 h-100">
                <div class="col-12 p-0">
                    <h5 class="card-title-inscripciones"> <img [src]="imageUrlBandera" alt=""> {{ title }}</h5>
                </div>
                <div class="col-3 ">
                    <div class="d-flex align-items-end h-100 pb-3">
                        <img class="w-100" [src]="imageUrlPlataforma" alt="">
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="content_buttons text-center h-100">
                        <button class="btn btn-outline-secondary btn-estandar-cards">
                        <i class="mdi mdi-file-document"></i> Detalles
                    </button>
                        <button class="btn btn btn-danger btn-estandar-cards">
                        <i class="mdi mdi-file-check"></i> Inscribete
                    </button>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="d-flex align-items-end h-100 pb-3">
                        <img class="w-100" [src]="imageUrlPatrocinio" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>